$phosphor-icons: '../assets';

.ph {
	position: relative;
	display: inline-block;

	background-size: contain;
	background-repeat: no-repeat;

	width: 1.5rem;
	height: 1.5rem;

	line-height: 1.5rem;
}
