@import "base";

$weights: bold, duotone, fill, light, thin;

@mixin icon($type) {
  .ph.#{$type} {
    background-image: url("#{$phosphor-icons}/regular/#{$type}.svg");
    @each $weight in $weights {
      &.#{$weight} {
        background-image: url("#{$phosphor-icons}/#{weight}/#{$type}-#{$weight}.svg");
      }
    }
  }
}
